#navbar{
    background-color: white;
    border: white;
    /* color: yellow; */
}

nav .left-alignbrand-logo{
    color:#ffd600;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;   
}

nav .sidenav-trigger{
    color: grey;
}
#taxi{
    /* background-color: #ffea00; */
    /* background-image: url("lab-car-boilerplate/assets/images/taxi.jpg"); */
    object-fit: cover;
    /* height: fit-content; */
    width: 90%;
}

h2{
    font-size: 30px;
}

.ybackgrounds{
    background-color: #ffd600;

}

#btnConv waves-effect waves-light btn{
    background-color: #ffd600;
    color: white;
}

.waves-effect.waves-light.btn{
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
}

#car{
    background-image: url("lab-car-boilerplate/assets/images/conduce.jpg");
    background-size: cover;
}

.footer{
    background-color: #212121;
    color: antiquewhite;

}

